body {
  text-align: center;
  background-color: darkred;
}

#level-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 2%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.clicked
{
  opacity: 0.5;
}
